.page {
  position: relative;
  padding: 20px;
}

.themeSwitch {
  position: absolute;
  top: 20px;
  right: 20px;
}

.counterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centraliza verticalmente na página */
}
