.userList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.userCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem;
  width: 3000px; /* Aumentando a largura dos cartões */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.userCard:hover {
  transform: scale(1.05);
}

.userCard h2, .userCard p {
  margin: 0;
  text-align: center;
  color: inherit;
}